*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    width: 18rem;
    cursor: pointer;
    transition: transform 0.5s ;

}

.card-container:hover{
    transform: scale(1.03);
}